body {
    font-family: "Gemunu Libre", sans-serif;
    font-size: 15px;
    background-color: black;
}
#logo
{
    margin-left: 10px;
}
#navbar   
{
    background-color: #671cd2;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 99;
}
#image
{
    height: 40px;
    width: 40px;
    position: absolute;
    left: 80px;
    top: 4px;
}
.nav-item
{
    padding: 15px;
}
.nav-active {
    background-color: #71c478;
    border-radius: 5px;
}
a {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(29 27 27);
    padding: 15px;  
    position: relative;
    text-decoration: solid;
}
#formblock
{
    height: 250px;
    width: 500px ;
    padding: 100px;
    margin: 150px;
    left: 20%;
    position: absolute;
    background-color: rosybrown;
    border-radius: 10px;
    box-shadow: 7px 7px 5px rgb(248, 225, 14);
}
label {
    display: inline-block;
    width: 150px;
    margin: 15px;
}
input {
    width: 200px;
    padding: 5px 10px;
  }
.submitting
{
    margin-top: 50px;
}
#space{
    margin-top: 35px;
}
#message
{
    margin-top: -5px;
    color: rgb(255 218 35);    
    font-size: 25px;
}
#contact
{
    position: absolute;
    bottom: 0px;
    color: white;
}
input[type='password']
{
    background: rgb(226, 219, 219);
}
input[type='text']
{
    background: rgb(226, 219, 219);
}
